.SearchBarDivInput {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.SearchBarInput {
  width: 50% !important;
  margin-bottom: 10px !important;
}
.NavbarDropdownItem {
  color: black !important;
}
.NavbarFormStyle {
  position: absolute !important;
  top: 59px;
  width: 100%;
}
.NavbarModalSignout {
  color: darkgrey;
}
.NavbarImageStyle {
  margin-right: 1.5em;
}
