.App {
  text-align: left;
  height: 100%;
}
html body.dark-mode {
  background-color: #10171d;
  color: #dfdfdf;
}
body.dark-mode .navbar {
  background-color: #1b2938;
}
body.dark-mode .dark-mode-toggle > button {
  color: #999;
}
body.dark-mode .svg-inline--fa {
  color: #10171d;
}
body.dark-mode .ui.card {
  background: transparent !important;
}
body.dark-mode .ui.card > .content a:not(.ui),
.ui.cards > .card > .content a:not(.ui) {
  color: #dfdfdf !important;
}
body.dark-mode .ui.card .meta,
.ui.cards > .card .meta {
  color: #dfdfdf;
}
body.dark-mode .ui.card > .content > .header:not(.ui),
.ui.cards > .card > .content > .header:not(.ui) {
  color: #dfdfdf;
}
body.dark-mode .ui.pagination.menu {
  background: transparent;
}
body.dark-mode .ui.pagination.menu .item {
  color: #dfdfdf;
}
body.dark-mode .ui.items > .item > .content > .header:not(.ui) {
  color: #dfdfdf !important;
}
body.dark-mode .ui.items > .item .meta {
  color: #dfdfdf !important;
}
body.dark-mode .ui.items > .item > .content > .description {
  color: #dfdfdf !important;
}
body.dark-mode body.dark-mode .dark-mode-toggle > button:last-child {
  color: lightblue;
}
body.dark-mode .ui.items > .item > .content a:not(.ui) {
  color: #dfdfdf !important;
}
body.dark-mode .content code {
  background-color: #1b2938;
}
body.dark-mode .content a {
  color: #ee0 9;
}
body.dark-mode .content button {
  color: #ee0 9;
}
.dark-mode-toggle {
  display: flex;
  margin: 0 auto;
}
.dark-mode-toggle > button {
  font-size: 1.2em;
  background: none;
  border: none;
  color: #ffe600;
  cursor: pointer;
  transition: color 0.3s ease;
}
.dark-mode-toggle > button:last-child {
  color: #666;
}
.dark-mode-toggle > button:focus {
  outline: none;
}
.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}
input[type="checkbox"].dmcheck {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}
input[type="checkbox"].dmcheck:checked + label {
  left: 30px;
}
input[type="checkbox"].dmcheck:focus-visible {
  outline: solid 2px white;
}
input[type="checkbox"].dmcheck + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: #f6f6f6;
}
.ui.card {
  height: 100%;
}
.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ContainerStyle {
  margin-top: 80px;
}
.PaginationStyle {
  text-align: center;
}
.CardHeader {
  color: black !important;
}
.ui.card .meta,
.ui.cards > .card .meta {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ui.container {
  width: 65% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
